<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mi.makein">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <queries>

        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.mi.makein.helper.ApiConfig"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/makein"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EarningApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <activity
            android:name="com.mi.makein.AccountDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.SpinWheelActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.TestActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.FaqActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.ReferEarnActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.WithdrawalListActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.PayUMoneyActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mi.makein.BonusActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.MinorActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.WithdrawalActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.RechargeActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.Recharge_History_Activity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.UPI_Information_Activity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.TransactionDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.OtpActivity"
            android:exported="false" />
        <activity
            android:name="com.mi.makein.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.mi.makein.MainActivity"
            android:exported="true" />
        <service
            android:name="com.mi.makein.helper.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>